.myActive
{
background:#D0D0D0;
}
.circle {
  position:absolute;
  right: 8px;
  top: -8px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size:17px;
  color: #fff;
  line-height: 25px;
  text-align: center;
  background: #f00;
  
 
}